

<div name="recipesTabularView" class="contentWrapperDiv">
    <h3 class="tableTitle">Welcome to the r/GifRecipes Organizer.</h3>
    <div class="tableTitle subHeading" ng-show='!currentUser'>Log in or register to save your favorite recipes!</div>
    <div class="tableTitle">
        <form name="paginationForm">
            <span>
                <label> Page #
                    <select ng-model="selectedPage" ng-change="updatePageData()" ng-options="n for n in pageNumbers">
                    </select></label>
            </span>
            <span class="pageButtons">
            <button type="button" class="btn btn-xs btn-primary" ng-show='!isLeftEnabled()' disabled>
                <span class="glyphicon glyphicon-backward"></span>
            </button>
            <button type="button" class="btn btn-xs btn-primary" ng-click="pageLeft()" ng-show='isLeftEnabled()'>
                <span class="glyphicon glyphicon-backward"></span>
            </button>
            <button type="button" class="btn btn-xs btn-primary" ng-show='!isRightEnabled()' disabled>
                <span class="glyphicon glyphicon-forward"></span></button>
            <button type="button" class="btn btn-xs btn-primary" ng-click="pageRight()" ng-show='isRightEnabled()'>
                <span class="glyphicon glyphicon-forward"></span>
            </button>
            </span>
            <span>
                <label> Page Size
                    <select ng-model="pagesize" ng-change="changePageSize()" ng-options="n for n in pageSizeRange">
                    </select></label>
            </span>

        </form>
    </div>
    <table class="table table-striped table-hover">
            <thead>
            <th>Thmb</th>
            <th>Title</th>
            <th>Author</th>
            <th>Score</th>
            <th>Actions</th>
            </thead>
            <tbody>
            <tr data-ng-repeat="rec in pagelist">
                <td><img ng-src="{{ rec.thumbnail }}" id="redditThumb"></td>
                <td>{{ rec.title }}</td>
                <td>{{ rec.author }}</td>
                <td>{{ rec.score }}</td>
                <td>
                    <div ng-show='currentUser'>
                        <button type="button" class="btn btn-primary" ng-click="saveFavorite(rec._id)">
                            Save
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>



</div>