

<div name="recipesTabularView" class="contentWrapperDiv">
    <h3 class="tableTitle">Welcome to the r/GifRecipes Organizer.</h3>
    <!--NOTES::This is where GifRecipes are displayed in Table - 10 at a time - pagination would be good-->
    <br>
    <div class="tableWrapperDiv">
        <table class="table table-striped table-hover">

            <thead>
            <th>Thmb</th>
            <th>Title</th>
            <th>Author</th>
            <th>Score</th>
            <th>Actions</th>
            <!--<th>ID</th>-->
            </thead>
            <tbody>
            <tr data-ng-repeat="rec in recipes">
                <td><img ng-src="{{ rec.thumbnail }}" id="redditThumb"></td>
                <td>{{ rec.title }}</td>
                <td>{{ rec.author }}</td>
                <td>{{ rec.score }}</td>
                <!--<td>{{ rec._id }}</td>-->
                <td>
                    <div ng-show='currentUser'>
                        <button type="button" class="btn btn-primary" ng-click="saveFavorite(rec._id)">
                            Save
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>