<!--
<html>
<head>
    <title>Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="login.js"></script>
</head>
<body>
-->
    <div class="container-fluid">
        <div class="contentWrapperDiv">
            <h1 class="tableTitle">Login</h1>
            <form name="LoginForm">
                <input class="form-control" placeholder="username" ng-model="logUser.username"/>
                <input class="form-control" type="password" placeholder="password" ng-model="logUser.password"/>
                <a class="btn btn-success btn-block" ng-click="login(logUser)">Login</a>
                <a class="btn btn-primary btn-block" href="#/register">Register</a>
            </form>
        </div>

    </div>
<!--
</body>
</html>
-->

