Hello {{ currentUser.username }}

<div name="recipesTabularView">
    NOTES::This is where GifRecipes are displayed in Table - 10 at a time - pagination would be good
    <br>
    Have usage buttons only visible when logged in (Save to favorites)
    <br>
    <table>
        <thead>
        <th>Thmb</th>
        <th>Title</th>
        <th>Author</th>
        <th>Score</th>
        <th>Actions</th>
        <th>ID</th>
        </thead>
        <tbody>
        <tr data-ng-repeat="rec in favoriteRecipes">
            <td><img ng-src="{{ rec.thumbnail }}" id="redditThumb"></td>
            <td>{{ rec.title }}</td>
            <td>{{ rec.author }}</td>
            <td>{{ rec.score }}</td>
            <td>{{ rec._id }}</td>
            <td>
                <div ng-show='currentUser'>
                    <button type="button" class="btn btn-danger" ng-click="deleteFavorite(rec._id)">
                        Delete
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>